table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

th {
    text-align: center;
}

table,
th,
td,
tr {
	border: 1px solid grey;
}

a {
    color: darkblue;
}
a:activ e {
    color: green;
}

a:hover {
    color: red;
}

a:link {
    color: yellow;
}